<h4 style="margin-top: 15px">{{ name }}</h4>
<h5>Director's details</h5>

<form>
  <div class="row">
    <div class="six columns">
       <label for="idInput">ID</label>
       <input class="u-full-width" id="id" type="text" value="{{ id }}" readonly/>
    </div>
    <div class="six columns">
       <label for="biographyInput">Biography</label>
       <input class="u-full-width" id="biography" type="text" value="{{ biography }}" readonly/>
    </div>
  </div>
  <div class="row">
    <div class="six columns">
       <!-- <label for="birthInput">Birth Year</label> -->
       <!-- <input class="u-full-width" id="birth_year" type="text" value="{{ birth_year }}"  readonly/> -->
        <img src="{{image_src}}" alt="">
    </div>
  </div>
</form>

<h5>Books</h5>
<ul>
{{#books}}
  <li><a href="/#/bookById/{{book_id}}" data-navigo>{{title}}</li>
{{/books}}
</ul>
